div.rdiv{
    display: flex;
    gap:20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
button.rbutton{
display: block;
width: 100%;
padding: 15px;
border-radius: 8px;
background-color: #0cda7a;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
transition: 0.4s;
color: #FFF;
font-size: 20px;
font-weight: 700;
}

button.rbutton a{
    color: #FFF;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-align: center;
}
